<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/styles/addProduct.css" th:href="@{/styles/addProduct.css}">
    <link rel="stylesheet" type="text/css" media="all" href="../static/styles/reg_auth.css" th:href="@{/styles/reg_auth.css}">
    <link rel="stylesheet" type="text/css" media="all" href="../static/styles/home.css" th:href="@{/styles/home.css}">
</head>
<body>
<div class="top-bar">
    <a class="top-left-link" th:href="@{/inpr}">Главная</a>
    <form  th:action="@{/logout}" method="post">
        <input class="btn-logout" type="submit" value="Выйти">
    </form>
</div>
<div class="add-form">
    <form th:action="@{/product-edit}" method="post" th:object="${product}" enctype="multipart/form-data">
        <h2>Редактирование товара</h2>
        <!-- Добавьте поля для ввода данных о товаре -->
        <label>Название: <input class="add-input" type="text" th:field="*{name}" required/></label><br/>
        <label>Описание: <textarea th:field="*{description}" required></textarea></label><br/>
        <label>Характеристики: <textarea th:text="${characteristics}" name="characteristics" required placeholder="Вводите через «,»"></textarea></label>
        <label>Цена: <input class="add-input" type="number" th:field="*{price}" required/></label><br/>
        <label>Добавить фото: <input class="add-input" type="file" name="images" accept="image/*" multiple></label>
        <label>Категория:
            <select th:field="*{categories}" required>
                <option th:each="category : ${T(com.example.webserviceindastrialproduct.models.Category).values()}"
                        th:value="${category}" th:text="${category}"></option>
            </select>
        </label><br/>
        <input type="hidden" name="id" th:value="${product.id}">
        <!-- Другие поля товара, если необходимо -->
        <button class="add-btn" type="submit">Сохранить</button>
        <p>Текущие фото:</p>
    </form>
        <div th:each="photo : ${product.photos}">
            <img th:src="@{'/images/' + ${photo}}" width="150" height="150">
            <form th:action="@{/delete-photo}" method="post">
                <input type="hidden" name="productId" th:value="${product.id}">
                <input type="hidden" name="photo" th:value="${photo}">
                <div th:if="${errorOfLastPhoto}" class="alert" role="alert">
                    <p th:text="${errorOfLastPhoto}"></p>
                </div>
                <button type="submit">Удалить</button>
            </form>
        </div>
</div>
</body>
</html>