<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>InnovateInProducts</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/styles/reg_auth.css" th:href="@{/styles/reg_auth.css}">
</head>

<body>
<div class="top-bar">
    <a class="top-left-link" th:href="@{/inpr}">Главная</a>
    <a class="top-right-link" th:href="@{/registr}">Регистрация</a>
</div>
<h1 th:text="${user}"></h1>
<h1 class="title">InnovateInProducts</h1>
<form class="form" th:action="@{/auth}" th:method="post">
    <h1 class="h1">Авторизация</h1>
    <div class="top-input">
        <input class="input" type="text" name="username" required placeholder="Ваше имя">
        <input class="input" type="password" name="password" required placeholder="Пароль">
        <div id="error-message" th:if="${param.error}" class="alert" role="alert">
            <p>Неверное имя пользователя или пароль.</p>
        </div>
        <button class="btn" type="submit">Войти</button>
    </div>
</form>
</body>
</html>