<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/styles/reg_auth.css" th:href="@{/styles/reg_auth.css}">
    <link rel="stylesheet" type="text/css" media="all" href="../static/styles/home.css" th:href="@{/styles/home.css}">
    <link rel="stylesheet" type="text/css" media="all" href="../static/styles/profile.css" th:href="@{/styles/profile.css}">
</head>
<body>
<div class="top-bar">
    <a class="top-left-link" th:href="@{/inpr}">Главная</a>

    <form th:action="@{/logout}" method="post">
        <input class="btn-logout" type="submit" value="Выйти">
    </form>
    <form th:action="@{/basket}" method="get">
        <input class="btn-add-pr" type="submit" value="Корзина">
    </form>
</div>
<div class="info">
    <p>Ваше имя:</p>
    <p th:text="${user.name}"></p>
    <p>Ваш номер телефона:</p>
    <p th:text="${user.number}"></p>
</div>
<p class="p-text">Ваши заказы:</p>

    <form class="find-order">
        <select class="find-order-select" name="select" id="select" required>
            <option value="default">Все</option>
            <option value="В ожидании оплаты">В ожидании оплаты</option>
            <option value="Успешно отправлен">Успешно отправлены</option>
            <option value="Отменен">Отменены</option>
        </select>
        <button class="find-btn" type="button" onclick="filterList()">Искать</button>
    </form>
    <div th:each="order, itr : ${orders}">
        <div th:if="${order.getStatus().equals('В ожидании оплаты')}">
            <p class="status-pay" th:if="${itr.index == 0}"> Список неоплаченных заказов:</p>
            <div>
                <p class="date" th:text="${'Дата оформления: ' + order.getCreated().toLocalDate()}"></p>
                <div class="product">
                    <img class="image-product" th:src="@{'/images/' + ${order.product.photos.get(0)}}" alt="Product Image">
                    <div class="product-details">
                        <h3 class="name-product" th:text="${order.product.name}"></h3>
                        <p class="description-product" th:text="${order.product.description}"></p>
                        <div class="price-and-button">
                            <p class="price-product" th:text="${order.product.price}+'р.'"></p>
                            <form th:action="@{/pay-order}" method="post">
                                <input type="hidden" name="orderIdToPay" th:value="${order.id}">
                                <button class="btn-add-to-basket" type="submit">Оплатить</button>
                            </form>
                            <form th:action="@{/cancel-order}" method="post">
                                <input type="hidden" name="orderIdToCancel" th:value="${order.id}">
                                <button class="btn-add-to-basket" type="submit">Отменить</button>
                            </form>
                        </div>
                    </div>
                </div>
                <p class="count-product" th:text="${'Количество продукта: ' + order.getAmountOfProduct()}"></p>
            </div>
        </div>
    </div>

    <div th:each="order, itr : ${orders}">
        <div th:if="${order.getStatus().equals('Успешно отправлен')}">
            <p class="status-pay" th:if="${itr.index == 0}">Список оплаченных заказов:</p>
            <div>
                <p class="date" th:text="${'Дата оплаты: ' + order.getUpdate().toLocalDate()}"></p>
                <div class="product">
                    <img class="image-product" th:src="@{'/images/' + ${order.product.photos.get(0)}}" alt="Product Image">
                    <div class="product-details">
                        <h3 class="name-product" th:text="${order.product.name}"></h3>
                        <p class="description-product" th:text="${order.product.description}"></p>
                        <div class="price-and-button">
                            <p class="price-product" th:text="${order.product.price}+'р.'"></p>
                        </div>
                    </div>
                </div>
                <p class="count-product" th:text="${'Количество продукта: ' + order.getAmountOfProduct()}"></p>
            </div>
        </div>
    </div>

    <div th:each="order, itr : ${orders}">
        <div th:if="${order.getStatus().equals('Отменен')}">
            <p class="status-pay" th:if="${itr.index == 0}"> Список отмененных заказов:</p>
            <div>
                <p class="date" th:text="${'Дата оформления: ' + order.getCreated().toLocalDate()}"></p>
                <div class="product">
                    <img class="image-product" th:src="@{'/images/' + ${order.product.photos.get(0)}}" alt="Product Image">
                    <div class="product-details">
                        <h3 class="name-product" th:text="${order.product.name}"></h3>
                        <p class="description-product" th:text="${order.product.description}"></p>
                        <div class="price-and-button">
                            <p class="price-product" th:text="${order.product.price}+'р.'"></p>
                            <form th:action="@{/restore-order}" method="post">
                                <input type="hidden" name="orderIdToRestore" th:value="${order.id}">
                                <button class="btn-add-to-basket" type="submit">Востановить</button>
                            </form>
                            <form th:action="@{/delete-order}" method="post">
                                <input type="hidden" name="orderIdToDelete" th:value="${order.id}">
                                <button class="btn-add-to-basket" type="submit">Удалить</button>
                            </form>
                        </div>
                    </div>
                </div>
                <p class="count-product" th:text="${'Количество продукта: ' + order.getAmountOfProduct()}"></p>
            </div>
        </div>
    </div>
</body>
<script>
    // Обновление sessionStorage при изменении значения сортировки
    function updateSortOption() {
        var select = document.getElementById('select');
        var selectedOption = select.options[select.selectedIndex].value;
        sessionStorage.setItem('selectedOption', selectedOption);
    }

    // Получение сохраненного значения сортировки при загрузке страницы
    function getSavedSortOption() {
        return sessionStorage.getItem('selectedOption');
    }

    // Задаем сохраненное значение при загрузке страницы
    document.addEventListener('DOMContentLoaded', function () {
        var savedOption = getSavedSortOption();
        if (savedOption) {
            var select = document.getElementById('select');
            select.value = savedOption;
        }
    });

    // Вызываем updateSortOption при изменении значения в селекте
    document.getElementById('select').addEventListener('change', updateSortOption);

    // Функция сортировки
    function filterList() {
        var selectedOption = getSavedSortOption();

        // Получаем текущий URL
        var url = window.location.href;

        // Ищем существующий параметр sortBy в URL
        var filterByIndex = url.indexOf('filterBy=');

        // Если параметр sortBy уже существует, обрезаем его из URL
        if (filterByIndex !== -1) {
            url = url.substring(0, filterByIndex);
        }

        // Добавляем выбранное значение сортировки в URL
        url = url + "filterBy=" + selectedOption;

        // Перенаправляем на обновленный URL
        window.location.href = url;
    }

</script>
</html>