.btn-logout{
    font-size: 20px;
    position: absolute;
    background-color: #ffd6a8;
    top: 15px;
    right: 30px;
    display: block;
    border: 0;
    cursor: pointer;
    color: #1f2029;
    border-radius: 10px;
}
.btn-add-pr {
    font-size: 20px;
    position: absolute;
    background-color: #ffd6a8;
    top: 15px;
    right: 140px;
    display: block;
    border: 0;
    cursor: pointer;
    color: #1f2029;
    border-radius: 10px;
}
.btn-profile{
    font-size: 20px;
    position: absolute;
    background-color: #ffd6a8;
    top: 15px;
    right: 240px;
    display: block;
    border: 0;
    cursor: pointer;
    color: #1f2029;
    border-radius: 10px;
}
.btn-admin-panel{
    font-size: 20px;
    position: absolute;
    background-color: #ffd6a8;
    top: 15px;
    right: 340px;
    display: block;
    border: 0;
    cursor: pointer;
    color: #1f2029;
    border-radius: 10px;
}
.empty{
    color: #ffd6a8;
    font-size: 50px;
    text-align: center;
    padding-top: 150px;
}
.find{
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    text-align: center;
}
.find-select {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    margin-right: 10px;
    outline: none;
}

.find-btn {
    width: 150px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffd6a8;
    color: #1f2029;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.find-name{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 20px;
    outline: none;
}
.find-btn:hover {
    background-color: #e8c195;
}
.product-container {
    max-width: 900px;
    margin: 40px auto;
    outline: none;
}
.user-container {
    max-width: 900px;
    margin: 40px auto;
}
.product-link{
    text-decoration: none;
    color: inherit;
}
.product-link:hover{
    text-decoration: none;
}
.product {
    color: #cccccc;
    background-color: rgba(80, 99, 154, 0.49);
    border: 1px solid #1e3238;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    position: relative;
}

.image-product {
    width: 250px;
    height: 300px;
    min-width: 250px;
    min-height: 250px;
    margin-right: 10px;
}

.product-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name-product {
    font-size: 18px;
    margin-bottom: 5px;
    text-align: center;
}

.description-product {
    margin-bottom: 10px;
    text-align: center;
}

.price-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-product {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    color: #ff0000;
}

.btn-add-to-basket {
    background-color: #ffd6a8;
    color: #1f2029;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-add-to-basket:hover {
    background-color: #1f2029;
    color: #ffd6a8;
}
.title-panel{
    font-size: 25px;
    color: #e0e0e0;
    text-align: center;
    padding-top: 15px;
}
.link-product{
    text-decoration: none;
}