.in-product-container {
    max-width: 1200px;
    height: 700px;
    margin: 60px auto;
}
.image-in-product {
    width: 400px;
    height: 500px;
    min-width: 250px;
    min-height: 250px;
    margin-right: 10px;
}
.image-center{
    display: flex;
    justify-content: center;
    margin: auto;
}
/* Стили для контейнера слайдера */
.slider {
    width: 60%; /* Ширина слайдера */
    margin: auto; /* Центрирование слайдера */
}

/* Стили для слайдов */
.slider div {
    text-align: center; /* Выравнивание содержимого по центру */
}

/* Стили для изображений в слайдере */
.slider img {
    max-width: 100%; /* Изображение не должно превышать ширину родительского контейнера */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    margin: 0 auto; /* Центрирование изображения внутри блока слайда */

}